#root {
  font-family: sans-serif;
}
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  border-bottom: 1px solid grey;
}
.left {
  display: flex;
  align-items: center;
}
input {
  width: 25px;
}
.mainpage {
  padding: 10px;
}
